body {
  background: rgb(225, 237, 247);
}

.App {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(225, 237, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: rgb(47, 16, 158);
  margin: 60px 0px;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 60px;
}

.App-link {
  color: #61dafb;
}
.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
.App-container {
  border-radius: 10px;
}
